{
  "youtubeBaseLink": "https://www.youtube.com",
  "chaineID": {
    "user" : [],
    "channel": []
  },
  "slackHookUrl" : "https://hooks.slack.com/services/....",
  "slackHookName" : "youtube-to-slack"
}
